.form-wrapper {
    margin-top: 2rem;
}

.form {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.form label {*/
/*    opacity: 0;*/
/*}*/



.new-task {
    display: block;
    height: 36px;
    width: 600px;
    border: none;
    border-bottom: 3px solid #2e53e6;
    background: transparent;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.new-task:focus {
    background: rgb(157 178 255 / 40%);
}